/** ADD YOUR AWESOME CODES HERE **/

/* Button and About Contact */
.btn-yellow {
  background-color: #FFDD33;
  color: black;
  font-weight: 600;
}

.btn-yellow:hover {
  background-color: #FFE459;
  color: black;
  font-weight: 600;
}